<div id="card-container" class="container">
  <div class="row justify-content-md-center">
    <% articles.each do |article| %>
      <div class="col-5">
        <div class="card text-center mt-2 mb-2 shadow mb-5 bg-white rounded">
          <div class="card-header">
            <%= link_to "#{article.title} by #{article.user.username}" , article_path(article), class: "h5 text-success" %>
          </div>
          <div class="card-body mh-60">
            <h5 class="card-title">
                <%= article.genre %>
            </h5>
            <p class="card-text">
                <%= truncate(article.description, length: 100) %>
            </p>
            <%= link_to "Read Full Article", article_path(article),class: "btn btn-outline-success" %>
            <% if logged_in? && (logged_user == article.user || logged_user.admin?) %>
              <%= link_to "Edit Article", edit_article_path(article), class: "btn btn-outline-primary"%>
              <%= link_to "Delete Article", article_path(article), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-outline-danger" %>
            <% end %>
          </div>
          <div class="card-footer text-muted mh-10">
            <small> 
              Created <%= time_ago_in_words(article.created_at) %> ago,
              edited <%= time_ago_in_words(article.updated_at) %> ago
            </small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>