<div id="page-content" class="container">
  <%= form_with(model: article, class: "row shadow p-3 mb-5 mt-3 bg-white rounded", local: true) do |form| %>
    <div class="col-12 justify-content-center mt-3">
      <%= render 'shared/errors'%>
      <div class="col-12">
        <div class="form-group row">
          <%= form.label :title, class: "col-2 col-form-label" %>
          <%= form.text_field :title, class: "form-control col-10 shadow rounded", placeholder: "Enter the title of the article" %>
        </div>

        <div class="form-group row">
          <%= form.label :description, class: "col-2 col-form-label" %>
          <%= form.text_area :description, rows: 10, class: "form-control col-10 shadow rounded" %>
        </div>

        <div class="form-group row">
          <%= form.label :genre, class: "col-2 col-form-label" %>
          <%= form.text_field :genre, class: "form-control col-10 shadow rounded", placeholder: "Enter the genre of the article" %>
        </div>

        <div class="row justify-content-center mb-3">
          <%= form.submit "Submit", class: "btn btn-success col-1" %>
          <%= link_to 'Back', articles_path, class: "btn btn-primary col-1 ml-2" %>
        </div>
      </div>
    </div>
    
  <% end %>
</div>