<%= render 'shared/success', notice: notice %>
<div class="row mt-3 justify-content-center">
  <h3>Showing article details</h3>
  <div class="col-12 ">
    <div class="card">
      <div class="h3 card-header text-center">
        <strong><q><%= @article.title %></strong></q> by <cite title="user"> <%= link_to @article.user.username, user_path(@article.user) %></cite>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <div><%= simple_format(@article.description) %></div>
          <footer class="blockquote-footer">Created in the <cite title="Genre"><%= @article.genre %></cite> genre before <%= time_ago_in_words(@article.created_at) %></footer>
        </blockquote>
      </div>
    </div>
    <div class="row">
      <div class="d-flex col-12 justify-content-center">
        <% if logged_in? && logged_user ==  @article.user %>
          <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-success m-2" %> 
        <% end %>
        <%= link_to 'Back', articles_path, class: "btn btn-primary m-2" %>
      </div>
    </div>
  </div>
</div>
